[submodule "vendor/restbed"]
	path = vendor/restbed
	url = https://github.com/Corvusoft/restbed
[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/curl/curl.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
